
<nav class="navbar primary-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-light" href="/"><%=image_tag "logo.png", :width=>"196",:height=>"35"%></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><%= render "shared/search", :handlers => [:haml] %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Cache Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/searchterms/new">Add a Product to Cacheable Config</a></li>
                            <li><a href="/searchterms">Cacheable Product Search Terms</a></li>
                            <li><a href="/searchterms/warm">Warm The Cache</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>