=form_tag "/products/search", method: :get, class: 'form-inline' do
	.form-group
		=search_field_tag :query, params[:query],
      		placeholder: 'Search for a product',
      		size: 40,
      		class: 'form-control'
		=submit_tag 'Search', name: nil, class: 'btn btn-default'