<div class="card">

<div class="card-height-indicator"></div>

<div class="card-content">

    <div class="card-header">
        <h4>Welcome to A Cacheable Product Search</h4>
    </div>

    <div class="card-body">
    <p>You can Search for Products in the Semantics 3 DataBase. </p>
       <ul>
       <li>All search terms and results not in the cache are cached upon searching.</li>
       <li>Admins Can Configure and Pre-Fetch/Warm a set of Search Terms via the Cache Settings Menu.</li>
       <li></li>

       <li>CPS uses MemCache for Caching (could use REDIS,etc...)</li>
       <li>CPS uses PGSQL to store and configure PreFetchable Search Terms</li>
       <li>CPS uses Sidekiq/REDIS for CacheWarming ActionJobs</li>
       <li>MarkUp is a mixture of HAML and ERB</li>
       <li>Note: This search only returns "live" products</li>
       </ul>
    </div>

 	<div class="card-body">
        <h5>BACKLOG - TODO</h5>
       <ul>
       <li>Cache Warming Progress Bar</li>
       <li>Google Auth for Admin</li>
       <li>Pagination</li>
       <li>Cache Clearing</li>
       </ul>
    </div>





    <footer class="card-footer">
       <a href="https://jeanpaulcozzatti@bitbucket.org/jeanpaulcozzatti/fpp.git" class="btn btn-info" role="button">Source is Here</a>
    </footer>

</div>

</div>