<div id="demo" data-ping-time="1000">
  <div class="progress">
     <div class="progress-bar progress-bar-info progress-bar-striped .active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%"><span class="sr-only">20% Complete</span></div>
  </div>
   <div class="message">Not Running...</div>
</div>
<script>
progressBar = new ProgressBar("#demo", "<%= progress_bar_path @pb.id %>")
progressBar.start()
</script>