<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :sem3_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sem3_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sem3_id) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :sitedetails, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sitedetails, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sitedetails) %>
  </div>
  <div class="form-group">
    <%= f.label :brand, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :brand, :class => 'form-control' %>
    </div>
    <%=f.error_span(:brand) %>
  </div>
  <div class="form-group">
    <%= f.label :cat_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :cat_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:cat_id) %>
  </div>
  <div class="form-group">
    <%= f.label :category, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :category, :class => 'form-control' %>
    </div>
    <%=f.error_span(:category) %>
  </div>
  <div class="form-group">
    <%= f.label :color, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :color, :class => 'form-control' %>
    </div>
    <%=f.error_span(:color) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :ean, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ean, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ean) %>
  </div>
  <div class="form-group">
    <%= f.label :features, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :features, :class => 'form-control' %>
    </div>
    <%=f.error_span(:features) %>
  </div>
  <div class="form-group">
    <%= f.label :gtins, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gtins, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gtins) %>
  </div>
  <div class="form-group">
    <%= f.label :geo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :geo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:geo) %>
  </div>
  <div class="form-group">
    <%= f.label :height, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :height, :class => 'form-control' %>
    </div>
    <%=f.error_span(:height) %>
  </div>
  <div class="form-group">
    <%= f.label :images, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :images, :class => 'form-control' %>
    </div>
    <%=f.error_span(:images) %>
  </div>
  <div class="form-group">
    <%= f.label :images_total, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :images_total, :class => 'form-control' %>
    </div>
    <%=f.error_span(:images_total) %>
  </div>
  <div class="form-group">
    <%= f.label :length, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :length, :class => 'form-control' %>
    </div>
    <%=f.error_span(:length) %>
  </div>
  <div class="form-group">
    <%= f.label :manufacturer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :manufacturer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:manufacturer) %>
  </div>
  <div class="form-group">
    <%= f.label :model, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :model, :class => 'form-control' %>
    </div>
    <%=f.error_span(:model) %>
  </div>
  <div class="form-group">
    <%= f.label :mpn, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mpn, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mpn) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>
  <div class="form-group">
    <%= f.label :price_currency, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price_currency, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price_currency) %>
  </div>
  <div class="form-group">
    <%= f.label :size, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%=f.error_span(:size) %>
  </div>
  <div class="form-group">
    <%= f.label :upc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :upc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:upc) %>
  </div>
  <div class="form-group">
    <%= f.label :variation_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :variation_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:variation_id) %>
  </div>
  <div class="form-group">
    <%= f.label :variation_secondaryids, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :variation_secondaryids, :class => 'form-control' %>
    </div>
    <%=f.error_span(:variation_secondaryids) %>
  </div>
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weight) %>
  </div>
  <div class="form-group">
    <%= f.label :width, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :width, :class => 'form-control' %>
    </div>
    <%=f.error_span(:width) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
