<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sem3_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sitedetails) %></th>
      <th><%= model_class.human_attribute_name(:brand) %></th>
      <th><%= model_class.human_attribute_name(:cat_id) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:ean) %></th>
      <th><%= model_class.human_attribute_name(:features) %></th>
      <th><%= model_class.human_attribute_name(:gtins) %></th>
      <th><%= model_class.human_attribute_name(:geo) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:images) %></th>
      <th><%= model_class.human_attribute_name(:images_total) %></th>
      <th><%= model_class.human_attribute_name(:length) %></th>
      <th><%= model_class.human_attribute_name(:manufacturer) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:mpn) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:price_currency) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:upc) %></th>
      <th><%= model_class.human_attribute_name(:variation_id) %></th>
      <th><%= model_class.human_attribute_name(:variation_secondaryids) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:width) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.sem3_id %></td>
        <td><%= product.name %></td>
        <td><%= product.sitedetails %></td>
        <td><%= product.brand %></td>
        <td><%= product.cat_id %></td>
        <td><%= product.category %></td>
        <td><%= product.color %></td>
        <td><%= product.description %></td>
        <td><%= product.ean %></td>
        <td><%= product.features %></td>
        <td><%= product.gtins %></td>
        <td><%= product.geo %></td>
        <td><%= product.height %></td>
        <td><%= product.images %></td>
        <td><%= product.images_total %></td>
        <td><%= product.length %></td>
        <td><%= product.manufacturer %></td>
        <td><%= product.model %></td>
        <td><%= product.mpn %></td>
        <td><%= product.price %></td>
        <td><%= product.price_currency %></td>
        <td><%= product.size %></td>
        <td><%= product.upc %></td>
        <td><%= product.variation_id %></td>
        <td><%= product.variation_secondaryids %></td>
        <td><%= product.weight %></td>
        <td><%= product.width %></td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
