- if !@products.nil? && !@products.empty?
	- @products.each do |product|
		.card.hoverable
			.card-content.blue.lighten-5

				- if product["sitedetails"][0]
					%h5.h5-responsive
						= link_to(product["name"].gsub(/\[.*\]/,''),product["sitedetails"][0]["url"])
				- else
					%h5.thin-200
						= product["name"]
			.card-content
				%h6.h6-responsive.section-title.st-blue
					= link_to("$#{product['price']}",product["sitedetails"][0]["url"],:class=>"btn btn-default btn-md waves-effect waves-light")
					%small.card-btn
						By #{product["brand"]}

				%h6.h6-responsive
				- if product["sitedetails"][0]
					= link_to("Sold by #{product['sitedetails'][0]['name']}",product["sitedetails"][0]["url"])
- else 
	%h5.h5-responsive
		Looks like there aren't any #{params[:query]}s here! (0 results for #{params[:query]})