<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sem3_id) %>:</strong></dt>
  <dd><%= @product.sem3_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sitedetails) %>:</strong></dt>
  <dd><%= @product.sitedetails %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brand) %>:</strong></dt>
  <dd><%= @product.brand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cat_id) %>:</strong></dt>
  <dd><%= @product.cat_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @product.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @product.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ean) %>:</strong></dt>
  <dd><%= @product.ean %></dd>
  <dt><strong><%= model_class.human_attribute_name(:features) %>:</strong></dt>
  <dd><%= @product.features %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gtins) %>:</strong></dt>
  <dd><%= @product.gtins %></dd>
  <dt><strong><%= model_class.human_attribute_name(:geo) %>:</strong></dt>
  <dd><%= @product.geo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @product.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:images) %>:</strong></dt>
  <dd><%= @product.images %></dd>
  <dt><strong><%= model_class.human_attribute_name(:images_total) %>:</strong></dt>
  <dd><%= @product.images_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:length) %>:</strong></dt>
  <dd><%= @product.length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @product.manufacturer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @product.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mpn) %>:</strong></dt>
  <dd><%= @product.mpn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price_currency) %>:</strong></dt>
  <dd><%= @product.price_currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @product.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:upc) %>:</strong></dt>
  <dd><%= @product.upc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:variation_id) %>:</strong></dt>
  <dd><%= @product.variation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:variation_secondaryids) %>:</strong></dt>
  <dd><%= @product.variation_secondaryids %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @product.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:width) %>:</strong></dt>
  <dd><%= @product.width %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
